<div id="<%= dom_id shortening %>" class="card">
  <div class="card-body text-center">

    <div class="mb-4 p-3 rounded bg-subtle">
      <div data-controller="clipboard" data-clipboard-success-content="Copied!" class="input-group d-flex">
        <input type="text" value="<%= short_url(shortening) %>" readonly data-clipboard-target="source" class="form-control"/>
        <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="btn btn-primary">Copy
          to clipboard
        </button>
      </div>
    </div>

    <div class="d-flex gap-2 justify-content-evenly">
      <p class="card-text">
        <strong>Url:</strong>
        <%= shortening.url %>
      </p>

      <p class="card-text">
        <strong>Visits:</strong>
        <%= shortening.visit_count %>
      </p>
      <p class="card-text">
        <strong>Created:</strong>
        <%= l(shortening.created_at) %>
      </p>
    </div>
  </div>

</div>
